html {
    min-height:100%;
}

body {
    line-height: 1.5;
    letter-spacing: 0.08em; 
    font-size: 14pt;
    min-height:100%;
    margin: 0;
    background-size: auto;
    background-color: #ffffff;
    background-image: linear-gradient(60deg, rgba(230, 230, 250, 0.5) 20%, rgba(150, 203, 230, 0.5)), url("images/backgrounds/fenster_zum_hof_full_hd.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;  
}


a {
    -moz-transition: color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-color 0.2s ease;
    transition: color 0.2s ease, border-color 0.2s ease;
    color: #ca2371;
    white-space: nowrap;
    text-decoration: none;
 }
a:before {
    -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
    transition: color 0.2s ease, text-shadow 0.2s ease; }
a:hover {
    color: #ff7496;
    text-decoration: underline; 
}

ul li {
    padding-bottom: 1.5em; 
}

.biography p {
    /* padding-bottom: 0em;  */
    line-height: 1.3;
    /* width: 50%; */
}

#main .avatar {
    position: relative;
    display: block;
    margin-bottom: 1.5em; }
    #main .avatar img {
      display: block;
      margin: 0 auto;
      border-radius: 3%;
      /* box-shadow: 0.3em 0.3em 1em 0.05em #777777;  */
}

#main .avatar img{
    object-fit: cover;
}


#gallery {
    position: relative;
    max-width: 60%;
    min-width: 27em;
    /* padding: 3em 3em 3em 3em ; */
    /* background: #ffffff; */
    /* border-radius: 4px; */
    /* cursor: default; */
    text-align: center;
}

#gallery img{
    min-width: 27em;
    margin-top: 4em;
    width: 100%;
    padding: 3em 3em 3em 3em ;
    background: rgba(255,255,255,0.95);
    border-radius: 4px;
}

@media screen and (max-width: 480px) {
    #gallery img {
      min-width: 0;
      width: 100%;
      margin-top: 2em;
      padding: .3em 0 .3em 0; 
    }
}
